body, html {
    min-height: 100%;
    margin: 0;
}

body {
    background-image: url('images/lavender-forest.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}